@import 'common/variables';

@import '~bootstrap/scss/bootstrap';

@import 'common/global';

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-font-family: "slick";
$slick-loader-path: "~slick-carousel/slick/";
$slick-arrow-color: $black;

@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";


$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import './section';
@import 'atomic/badges';
@import 'components/avatar';
@import 'components/board';
@import 'components/header';

@import 'layout/signIn';
@import 'layout/app';
