.header {
  border-radius: 0 0 20px 20px;
  background-color: $primary;

  .header-topbar {
    padding: 1.2rem;

    .topbar-username {
      font-size: 1.5rem;
      white-space: nowrap;
    }
  }
}